.logo {
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}

.logo h3 small {
	font-size: 0.5em;
	display: block;
	text-align: right;
}

code {
	color: var(--bs-gray-100);
}

.btn {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.loader-inner {
	transform: scale(0.5, 0.5);
}

.input-group > .btn-end {
	border-top-right-radius: var(--bs-border-radius) !important;
	border-bottom-right-radius: var(--bs-border-radius) !important;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.pointer {
	cursor: pointer;
}

label {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.datepicker-dropdown {
	box-shadow: var(--bs-box-shadow) !important;
	padding: 10px;
}

.datepicker td,
.datepicker th {
	width: 35px;
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
	background-image: none;
}

#page-provider table tbody tr .invisible {
	visibility: visible !important;
}

#page-provider table tbody tr:hover .invisible {
	visibility: visible !important;
}

#page-provider table tbody tr.edit td {
	padding-top: 0.3rem;
	padding-left: 0;
	padding-bottom: 0.2rem;
}

#page-provider table tbody tr.edit .form-control-sm {
	font-size: 1rem;
	padding-left: 0.5rem;
	margin-left: 0;
	margin-top: -0.2rem;
}

.badge-sm {
	font-size: 0.65em;
}

.tooltip-primary.tooltip > .tooltip-inner {
	background-color: var(--bs-primary);
}

.tooltip-primary.bs-tooltip-top .tooltip-arrow::before,
.tooltip-primary.bs-tooltip-auto[data-popper-placement^='top'] .tooltip-arrow::before {
	border-top-color: var(--bs-primary);
}

.tooltip-primary.bs-tooltip-end .tooltip-arrow::before,
.tooltip-primary.bs-tooltip-auto[data-popper-placement^='right'] .tooltip-arrow::before {
	border-right-color: var(--bs-primary);
}

.tooltip-primary.bs-tooltip-bottom .tooltip-arrow::before,
.tooltip-primary.bs-tooltip-auto[data-popper-placement^='bottom'] .tooltip-arrow::before {
	border-bottom-color: var(--bs-primary);
}

.tooltip-primary.bs-tooltip-start .tooltip-arrow::before,
.tooltip-primary.bs-tooltip-auto[data-popper-placement^='left'] .tooltip-arrow::before {
	border-left-color: var(--bs-primary);
}

.tooltip-danger.tooltip > .tooltip-inner {
	background-color: var(--bs-danger);
}

.tooltip-danger.bs-tooltip-top .tooltip-arrow::before,
.tooltip-danger.bs-tooltip-auto[data-popper-placement^='top'] .tooltip-arrow::before {
	border-top-color: var(--bs-danger);
}

.tooltip-danger.bs-tooltip-end .tooltip-arrow::before,
.tooltip-danger.bs-tooltip-auto[data-popper-placement^='right'] .tooltip-arrow::before {
	border-right-color: var(--bs-danger);
}

.tooltip-danger.bs-tooltip-bottom .tooltip-arrow::before,
.tooltip-danger.bs-tooltip-auto[data-popper-placement^='bottom'] .tooltip-arrow::before {
	border-bottom-color: var(--bs-danger);
}

.tooltip-danger.bs-tooltip-start .tooltip-arrow::before,
.tooltip-danger.bs-tooltip-auto[data-popper-placement^='left'] .tooltip-arrow::before {
	border-left-color: var(--bs-danger);
}

.tooltip-warning.tooltip > .tooltip-inner {
	background-color: var(--bs-warning);
}

.tooltip-warning.bs-tooltip-top .tooltip-arrow::before,
.tooltip-warning.bs-tooltip-auto[data-popper-placement^='top'] .tooltip-arrow::before {
	border-top-color: var(--bs-warning);
}

.tooltip-warning.bs-tooltip-end .tooltip-arrow::before,
.tooltip-warning.bs-tooltip-auto[data-popper-placement^='right'] .tooltip-arrow::before {
	border-right-color: var(--bs-warning);
}

.tooltip-warning.bs-tooltip-bottom .tooltip-arrow::before,
.tooltip-warning.bs-tooltip-auto[data-popper-placement^='bottom'] .tooltip-arrow::before {
	border-bottom-color: var(--bs-warning);
}

.tooltip-warning.bs-tooltip-start .tooltip-arrow::before,
.tooltip-warning.bs-tooltip-auto[data-popper-placement^='left'] .tooltip-arrow::before {
	border-left-color: var(--bs-warning);
}

div.dataTables_processing > div:last-child > div {
	background: var(--bs-danger);
}

/* Start of search element */
.search {
	position: relative;
}

.search input {
	text-indent: 20px;
	border: 2px solid #d6d4d4;
}

.search > .bi {
	position: absolute;
	top: 8px;
	font-size: 0.95em;
	color: var(--bs-dark);
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}

.search .bi-search {
	left: 8px;
}

.search .bi-x-lg {
	right: 8px;
	cursor: pointer;
}

.filter-list .badge .bi-x {
	cursor: pointer;
}

.search .dropdown-item code {
	font-size: 1em;
	color: var(--bs-success);
	background-color: var(--bs-gray-200);
	font-family: inherit;
}
/* End of search element */

/* X-Small devices (portrait phones, less than 576px) */
.panel {
	border: none;
}

.search-not-match {
	display: none !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.panel {
		border: var(--bs-card-border-width) solid var(--bs-card-border-color);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#page-provider table tbody tr .invisible {
		visibility: hidden !important;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
